body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    margin-left: 08%;
    margin-right: 08%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

.nav-links .active {
    color: #f39c12;
}
#About{
    color: rgb(129, 131, 130);
}
#Facilities{
    color: rgb(2, 89, 15);
}
#Admission{
    color: rgb(90, 52, 243);
}
.contact-btn {
    text-decoration: none;
    background-color: #f39c12;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #e67e22;
}
